<div style="height: 100%;display: flex;flex-flow: column;"> 
  <img class="logo" src="assets/img/science.png">
  <nav class ="accordion">
    <ul class ="menu" (click)="onClick($event)" role="presentation">        
      <li id="two">
        <button [attr.tabindex]="storeTargetedSubmenu=='two' ? -1 : 0" [class.active]="storeTargetedSubmenu=='two'">Examples</button>
        <ul class="sub-menu" [class.sub-menu-open]="storeTargetedSubmenu=='two'" (click)="onClickSub($event)" role="presentation">   
          <li id="two-one" class="list-item-button">
            <button [attr.tabindex]="router.url=='/web-gpu' ? -1 : (storeTargetedSubmenu=='web-gpu' ? 0 : -1)" (click)="navigate('/web-gpu')" [class.active]="router.url == '/web-gpu'">Rust WebGPU
              <span [attr.tabindex]="storeTargetedSubmenu=='two' ? 0 : -1"  (click)="updateFavorites($event, 0, checked[0]); $event.stopPropagation();" class="icon-box" aria-label="als favorit auswählen">
                <mat-icon aria-hidden="false" aria-label="als favorit auswählen">{{checked[0] ? 'star' : 'star_outline'}}</mat-icon>                 
              </span>                       
            </button>  
          </li>         
          <li id="two-two" class="list-item-button">
            <button [attr.tabindex]="router.url=='/rust-ems' ? -1 : (storeTargetedSubmenu=='rust-ems' ? 0 : -1)" (click)="navigate('/rust-ems')" [class.active]="router.url == '/rust-ems'">Rust Emscripten
              <span [attr.tabindex]="storeTargetedSubmenu=='two' ? 0 : -1"  (click)="updateFavorites($event, 0, checked[0]); $event.stopPropagation();" class="icon-box" aria-label="als favorit auswählen">
                <mat-icon aria-hidden="false" aria-label="als favorit auswählen">{{checked[0] ? 'star' : 'star_outline'}}</mat-icon>                 
              </span>                       
            </button>  
          </li>         
        </ul>
      </li>
    </ul>
    <ul class="logout" role="presentation">
      <li id="one" style="position: absolute; bottom: 10px;"> 
        <button tabindex="0" [class.active]="router.url == '/login'">Logout</button>      
      </li>
    </ul> 
  </nav>
</div>

